@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
body{
    height: 800px;
}
#sombra2{
    margin-left: -8px;
    margin-top: -40px;
    width: 1518px;
    z-index: -1;
    opacity: 0.7;
}
.logo4{
    width: 230px;
    height: 55px;
    margin-left: 30px;
    margin-top: 6px;
}
.icone1{
    width: 23px;
    height: 23px;
    margin-top: -2px;
}
.icone2{
    width: 21px;
    height: 21px;
    margin-top: 3px;
}
.icone3{
    width: 19px;
    height: 19px;
    margin-top: 3px;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    gap: 0px 120px;
    z-index: 1;
    position: absolute;
    margin-top:-812px
}
#home, #pesquisa, #biblioteca{
    display: flex;
    flex-direction: row;
    gap: 0px 13px;
    margin-top: 27px;
    cursor:pointer;
}
h4{
    font-family:'Gilroy-Regular', sans-serif;
    color:white;
    font-size: 16px;
    font-weight: bold;
}
h4:hover{
    border-bottom: solid 2px white;
}
#text1{
    margin-top: 4px;
}
#text2{
    margin-top: 4px;
}
#text3{
    margin-top: 4px;
}
.avatar{
    width: 48px;
    height: 48px;
    margin-top: 15px;
    margin-left: 262px;
    cursor:pointer;
}
#row{
    display: flex;
    flex-direction: row;
    gap:0px 17px;
}
#texto1{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-top: 10px;
}
#texto2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-top: 25px;
}
#texto3{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: black;
    text-align: justify;
    margin-top: 35px;
}
.idade{
    width: 40px;
    height: 40px;
    margin-left: -15px;
}
a{
    text-decoration: none;
}
button{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#087876;
    font-family: sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    width: 170px;
    height: 52px;
    margin-top: 41px;
    margin-left: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #054140;
}
.adicionar{
    width: 43px;
    height:43px;
    margin-top: 47px;
    cursor: pointer;
}
#botoes{
    display: flex;
    flex-direction: row;
    gap:0px 45px;
    margin-left: -40px;
    margin-top: -10px;
}
.conteudo{
    margin-left: 60px;
    margin-top: -460px;
    position: absolute;
    z-index: 1;
}
.footer{
    background-color: #087876;
    margin-top: -70px;
    width: 1519px;
    height: 160px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
}
#logo4{
    width: 270px;
    height: 65px;
}
#footer{
    font-family:'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
    color: white;
}
#footer:hover{
    border-bottom: solid 1px white;
}
#column{
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    margin-top: 8px;
}
#row{
    display: flex;
    flex-direction: row;
    gap: 0px 25px;
    margin-left: 15px;
}
.fundoopequenoprincipe{
    width: 1300px;
    height: 700px;
    position: absolute;
    z-index: -1;
    margin-top: -770px;
    margin-left: 209px;
}
.logoopequenoprincipe{
    width: 500px;
    height: 125px;
    position: absolute;
    z-index: -1;
    margin-top: -610px;
    margin-left: 60px;
}